/* #tela10 #interface {
    height: 900px;
}

#tela10 #Perfil {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela10 #Criadores {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela10 #Apagar_conta {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela10 .voltar {
    top: 80%;
}  */

.tela-informacoes-extras {
    background-image: url('../imagens/1.1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}