/* #tela10 #interface {
    height: 900px;
}

#tela10 #Perfil {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

#tela10 #Criadores {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela10 #Apagar_conta {
    position: absolute;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

#tela10 .voltar {
    top: 80%;
}  */

.tela-informacoes-extras {
    background-image: url('../imagens/1.1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}

.informacoes-extras {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    width: 450px; 
    gap: 25px; 
    justify-self: center;
   /*  align-items: center; */
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 191, 255, 0.6);
}