#tela4 #button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela4 #botão {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela4 #love {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}