#tela7 #interface {
    height: 800px;
}

#tela7 #Sol {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Mercúrio {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Vênus {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Terra {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Marte {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Júpiter {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Saturno {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Urano {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 #Netuno {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela7 .voltar {
    top: 87%;
    left: 50%;
    transform: translate(-215%, -50%);
}