.tela-menu {
    background-image: url('../imagens/Fundo_Universo_Puro_Escuro-fotor-enhance-2025091323703.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
 
.nauta-menu {
    text-align: center;
}

.nauta-menu img {
    width: 50%; 
    margin-bottom: 20%; 
}

.informacoes-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .tela-menu .guia-menu { 
        width: 350px;
    }
}

@media (max-width: 365px) {
    .tela-menu .guia-menu {
        width: 250px;
    }
}

/* .botao-opcao-menu { 
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.7);
    transition: 0.2s ease-out;
    font-weight: 500; 
    font-family: 'Orbitron', sans-serif;
} */

/* .tela-menu .botao-voltar {
    width: 200px;
    display: flex;
    justify-self: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(63, 63, 63, 0.516);
    transition: 0.2s ease-out;
} */

/* .tela-menu .botao-opcao:hover,
.tela-menu .botao-voltar:hover {
    backlground-color: deepskyblue;
    transform: scale(1.05);
    color: black;
}  */

/* .tela-navegacao .btn-menu:hover {
    background-color: rgb(227, 248, 255);
    transform: scale(1.05);
} */

/* .botao-voltar {
    font-family: 'Orbitron', sans-serif; 
    padding: 15px 25px; 
    width: 200px; 
    max-width: 70%;
    font-size: 1rem;
    border-radius: 10px; 
    cursor: pointer;
    background: #3D214E; 
    border: 1px solid #A020F0;
    color: #e0f2f7;
    transition: all 0.3s ease-in-out;
    display: flex; 
    justify-content: center; 
    align-items: center;   
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #A020F0; 
    margin-top: auto; 
} */

/* .botao-voltar:hover {
    background: #A020F0; 
    transform: translateY(-2px) scale(1.02); 
    box-shadow: 0 0 18px #A020F0; 
    border-color: #e0f2f7;
} */