#tela6 #Orion {
    position: absolute;
    width: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: Transparent;
}

#tela6 #Cruzeiro {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: Transparent;
}

#tela6 #Andromeda {
    position: absolute;
    width: 300px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: Transparent;
}

#tela6 #Fênix {
    position: absolute;
    width: 300px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: Transparent;
}